.modal.show .modal-dialog {
    -webkit-transform: none;
    margin-top: 20%;
    transform: none;
}

.modalImage{

    width:400px;
    height:320px;
}

@media (max-width: 600px) {

    .modalImage{

        width:300px !important;
        height:240px !important;
    }
      
    }