.profileframe{
width:100%;
display: flex;
    align-items: center;
    justify-content: center;
    z-index:5;
}

.profile{
    
    height:400px;
    min-width:750px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin:50px;
    overflow:hidden;
    color:black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    
    transition: all 3s;
    opacity:0;
 

    margin-top:7%;
}

.profilepic{
  width:0%;
  height:100%;
  background-image: url("/images/profilepic.jpg");
 
  background-position: center;
  background-size:cover;
  transition: all 2s;
  opacity:1;
}

.profileinfo{
    width:0%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:60px;
    background: rgba(0, 0, 0, .3);
    font-size: 0.85rem;
    
    overflow:hidden;
    transition: all 1.5s;
    color:white;

}

.profile ul{
    list-style-type: none !important;
    margin:0;
    padding:0;
  }

  .profile ul li{
 
    margin:10px;

  }

  .label{
    font-weight: bold;
  }

  @keyframes greenplanetglow {
    0%  {filter:  drop-shadow(0px -40px 30px rgb(255, 255, 255, 0.5));}
    50%  {filter:  drop-shadow(0px 0px 90px rgb(255, 255, 255));}
  100% 	{filter:  drop-shadow(0px -40px 30px rgb(255, 255, 255, 0.5));}
  }
  
  @keyframes greenplanetglow2 {
    0%  {filter: drop-shadow(0px -40px 30px rgb(255, 255, 255, 0.5))}
    50%  {filter: drop-shadow(0px 0px 90px rgb(255, 255, 255))}
  100% 	{filter: drop-shadow(0px -40px 30px rgb(255, 255, 255, 0.5))}
  }
  
  .greenglow{
    animation:greenplanetglow 16s linear;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        
    }
  
    .greenglow2{
      animation:greenplanetglow2 9s linear;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          
      }